@page
@model HomeModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Welcome";
}

<partial name="Shared/_StatusMessage" for="StatusMessage"/>

<div class="container-fluid">

    <div class="row align-items-center">
        <div class="col-md-6 order-md-last mb-2">
            <img src="/images/first-image.jpg" class="img-fluid rounded-start rounded-end" alt="Image description">
        </div>
        <div class="col-md-6">
            <h2 class="english" style="font-family: 'Segoe Script',serif">Book &amp; Attempt the Exam.</h2>
            <h2 class="swahili" style="font-family: 'Segoe Script',serif;display: none">Hifadhi Nafasi yako kisha Jibu Mtihani.</h2>
            <p class="english">Find the nearest station that’s easily accessible, reserve your spot, show up for the exam, and then follow the remaining steps to obtain your license.</p>
            <p class="swahili" style="display: none">Angalia kituo ulichokaribu nacho, chenye urahisi kukifikia, hifadhi nafasi yako, tokea kujibu mtihani kisha endelea na taratibu nyengine za kupata leseni.</p>
        </div>
    </div>
    <br/>
    @if (Model.CurrentBooking is not null)
    {
            <div class="card shadow-sm border">
        <div class="card-body d-flex flex-column">
            <h5 class="english card-title text-primary">Current Booking</h5>
            <h5 class="swahili card-title text-primary" style="display: none;font-family: 'Segoe Script',serif">Nafasi yako</h5>
            <ul class="english list-group list-group-flush flex-grow-1 mb-1">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Venue: <span class="fw-bold">@Model.CurrentBooking?.VenueName</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Address: <span class="text-muted">@Model.CurrentBooking?.VenueAddress</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Date: <span class="fw-bold">@Model.CurrentBooking?.SessionDate.ToString("dd/MM/yyyy")</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Time: <span class="fw-bold">@Model.CurrentBooking?.SessionDate.ToString("HH:mm")</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Status: <span class="badge bg-success">Booked &amp; Confirmed</span>
                </li>
            </ul>
            <ul class="swahili list-group list-group-flush flex-grow-1 mb-1" style="display: none">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Kituo: <span class="fw-bold">@Model.CurrentBooking?.VenueName</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Mahali: <span class="text-muted">@Model.CurrentBooking?.VenueAddress</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Tarehe: <span class="fw-bold">@Model.CurrentBooking?.SessionDate.ToString("dd/MM/yyyy")</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Muda: <span class="fw-bold">@Model.CurrentBooking?.SessionDate.ToString("HH:mm")</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Hali: <span class="badge bg-success">Imehifadhiwa &amp; Nakuthibitishwa</span>
                </li>
            </ul>
            <div class="mt-auto"> <a href="#" class="btn btn-primary">View Details</a>
            </div>
        </div>
    </div>
    }
    <br/>
    <p class="english">Reading Materials</p>
    <p class="swahili" style="display: none">Makala ya Kujisomea</p>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                <div class="card h-100 ClickableDiv" style="cursor: pointer;">
                    <img class="card-img-top"  alt="sample images" src="images/law.jpg"/>
                    <div class="card-body">
                        <p class="english">Traffic laws &amp; Legislations</p>
                        <p class="swahili card-title">Sheria za Barabarani</p>
                        <a href="pdfs/law.pdf" class="english btn btn-info" download="">Download</a>
                        <a href="pdfs/law.pdf" class="swahili btn btn-info" download="" style="display: none">Pakua</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                <div class="card h-100 ClickableDiv" style="cursor: pointer;">
                    <img class="card-img-top"  alt="sample images" src="images/road-signs.jpg"/>
                    <div class="card-body">
                        <p class="english">Road Signs &amp; Symbols</p>
                        <p class="swahili card-title">Alama za Barabarani</p>
                        <a href="pdfs/law.pdf" class="english btn btn-info" download="">Download</a>
                        <a href="pdfs/law.pdf" class="swahili btn btn-info" download="" style="display: none">Pakua</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}